<h1>程式語言(一)</h1>
<p>wordnet 查詢&nbsp;<a href="../wordnet/doCheck?word=deceive">deceive</a></p>
<p>webster 查詢 &nbsp;<a href="../webster/doCheck?word=deceive">deceive</a></p>
<p><a href="../diamond/?num=11">列印 num=11 菱形</a></p>
<h1>電腦輔助設計實習</h1>
<p><a href="../brython/">Brython 程式介面</a></p>
<p>假如我可以直接利用雲端執行設計運算, 且系統化儲存<a href="../download/?filepath=C:/Users/amd/Downloads/c1project_v8_leo/c1project_v8_leo/wsgi/local_data/downloads/c1_prt1.stl">設計</a>運算流程與結果</p><h1>網際網路應用</h1>
<p>網際網路相關內容</p>
<p>gggggg</p><h2>程式碼展示</h2><pre><code>def tinymce_editor(menu_input=None, editor_content=None, page_order=None):    files = os.listdir(download_root_dir+"downloads/")    link_list = ""    image_list = ""    for 索引 in range(len(files)):        file_url = "/download/?filepath="+download_root_dir.replace('\\', '/')+"downloads/"+files[索引]        link_list += "['"+files[索引]+"', '"+file_url+"']"        if 索引 != len(files)-1:            link_list += ","    # 處理影像檔案連結    images = os.listdir(download_root_dir+"images/")    for 索引 in range(len(images)):        image_url = "/images/"+images[索引]        image_list += "['"+images[索引]+"', '"+image_url+"']"        if 索引 != len(images)-1:            image_list += ","    網站內容 =file_get_contents(data_dir+"content.htm")</code></pre><h1>零件展示</h1>
<p>設法提供零件檔案下載</p>
<p><img src="../downloads/Chrysanthemum.jpg" alt="Chrysanthemum.jpg" width="364" height="273" /></p>
<p><embed width="800" height="600" src="../static/viewstl.html?src=/downloads/gauge.stl"></embed></p>
<p><embed width="800" height="600" src="../static/viewstl.html?src=/downloads/spikeball.stl"></embed></p>